.topNav
{
    display: inline-block;
    background-color: rgb(0, 255, 0);
}

.topNav a
{
    text-decoration: none;
    color: black;
    font-family: "Arial";
}

h1
{
    color: red;
    font-family: "Comic Sans MS";
}

h2
{
    color: green;
    font-family: "Comic Sans MS";
}

.witImg img
{
    width: 250px;
    height: 289px;
    float:left;
}

.witImg p
{
    margin-right: 20%;
}

.belImg
{
    display: flex;
    flex-direction: column;
    position: relative;
}

p
{    
    text-align: justify;
    color: rgb(43, 43, 43);
    font-family: "RALEWAY";
}

.palmares h1, p, table
{
    text-align: center;
}

.tg  
{border-collapse:collapse;border-spacing:0;
}

.tg td
{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;
}

.tg th
{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .t1
{
    color:#202122;
    font-weight:bold;
    text-align:left;
    vertical-align:top
}

.tg .t2
{
    background-color:#EAECF0;
    color:#0645AD;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}

.tg .t3
{
    color:#0645AD;
    text-align:left;
    vertical-align:top
}

.tg .t4
{
    background-color:#C96;
    color:#202122;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}

.tg .t5
{
    color:#202122;
    text-align:left;
    vertical-align:top
}

.tg .t6
{
    background-color:#C0C0C0;
    color:#202122;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}

.tg .t7
{
    background-color:#EAECF0;
    color:#202122;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}

.tg .t8
{
    background-color:#FFD700;
    color:#202122;
    font-weight:bold;text-align:center;vertical-align:top
}

.tg .t9
{
    color:#202122;text-align:center;vertical-align:top
}

.tg .t10
{
    color:#202122;font-style:italic;text-align:center;vertical-align:top
}